name: checkov Tag Validation

on:
  pull_request:
    branches: [main]
    paths:
      - '**.tf'
  push:
    branches: [main]
    paths:
      - '**.tf'

jobs:
  checkov:
    name: checkov Tag Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: test-terraform
          external_checks_dirs: checkov/policies
          framework: terraform
          output_format: cli
          soft_fail: false
          skip_check: CKV_AWS_18,CKV_AWS_19,CKV_AWS_20,CKV_AWS_21,CKV2_AWS_6,CKV_AWS_145,CKV_AWS_144,CKV_AWS_28,CKV_AWS_119,CKV_AWS_158,CKV_AWS_116,CKV_AWS_117,CKV_AWS_173,CKV_AWS_272,CKV_AWS_50,CKV_AWS_115,CKV_AWS_45,CKV_AWS_27,CKV_AWS_79,CKV_AWS_135,CKV_AWS_126,CKV_AWS_8,CKV2_AWS_41,CKV2_AWS_62,CKV2_AWS_61
          check: CKV_MOJ_001
